/*HACK: Brutally nicked from Just-Eat. Sorry. :-)*/
.masterBody
{
    text-align: center;
    background: url('/Content/img/rice.jpg') top left #e7b914;
    padding: 0 15px;
    margin: 0;
    font-family: 'Pontano Sans' , sans-serif;
    font-size: 16px;
    color: #555;
    border: 0;
}

body, html
{
    height: 100%;
}

input, button
{
    font-family: 'Pontano Sans' , sans-serif;
    font-size: 16px;
}

#bodyWrap
{
    margin: 0 auto;
    text-align: left;
    width: 80%;
    background: white;
    padding: 0 23px 10px 25px;
    min-height: 100%;
    min-width: 391px;
}

header
{
    border-bottom: solid 6px #ddd;
}

#header
{
    background: url('/Content/img/findaresto.png') top left no-repeat;
    height: 84px;
    width: 391px;
}

/*resize images for iPhone*/
@media screen and (max-device-width: 480px)
{
    img
    {
        max-width: 100%;
        height: auto;
    }

    #header
    {
        background: url('/Content/img/findaresto-small.png') top left no-repeat;
        height: 43px;
        width: 200px;
    }
    
    #bodyWrap {
        min-width: 200px;
    }
}

.main
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.main ul
{
    margin: 0;
    padding: 0;
}

.main li
{
    list-style: none;
    margin: 0;
    padding: 5px 0 5px 0;
}

.main h3
{
    font-size: 1.1em;
}

footer
{
    border-top: solid 6px #ddd;
    font-size: 0.8em;
    color: #666;
}
