﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width,user-scalable=no" />
        <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"> </script>
        @RenderSection("head", false)
    </head>
    <body class="masterBody">
        <section id="bodyWrap">
            <header><div id="header">&nbsp;</div></header>
            <section class="main">@RenderBody()</section>
            <footer>&copy; Nom nom nom! 2012</footer>
        </section>
    </body>
</html>