﻿@using FindaResto.Web.Models
@model FindaResto.Web.Models.RestaurantListView
@{
    Layout = "";
}
<ul>
    @foreach (RestaurantView rest in Model)
    {
        <li>
            <h3>@rest.Name</h3>
            <p>
                @for (int i = 1; i < rest.AverageRating; i++)
                {
                    <text><img style="width: 16px;" src="@Url.Content("~/Content/img/star.png")" alt="*"/></text>
                }</p>
            <p>
                <img src="@rest.LogoUri" alt="@rest.Name"/></p>
            <p>
                <a href="@rest.RestaurantUri" title="Visit the @rest.Name site">Visit!</a></p>
        </li>
    }
</ul>