﻿@{
    ViewBag.Title = "FindaResto";
    var options = new AjaxOptions
                      {
                          HttpMethod = "POST",
                          UpdateTargetId = "result"
                      };
}
@using (Ajax.BeginForm("Find", "Home", options))
{
    <h2>
        Welcome to FindaResto!</h2>
    <p>
        Find all the restaurants in your area by entering the first part of your postcode
        and pressing &ldquo;Find&rdquo;.<br />
        For example, if your postcode is <cite>OX14 6AA</cite>, you should use <cite>OX14</cite>.</p>
    <div>
        <input type="text" id="postcode" name="postcode" placeholder="Your postcode here..."
               autocorrect="off" autocapitalize="off" />
        <input type="submit" value="Find" id="Find" />
    </div>
}
<div id="result">
    &nbsp;</div>